@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    font-family:'Poppins',sans-serif;
    background-color: #1B2430;
}
html{
    font-size: larger;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
    background-color: rgba(254,252,253,255);
    color: #A5C9CA;
    
 }

 header{
    margin-top: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding:1rem 9%;
    background-color: transparent ;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
 }
 nav a{
    color: #CBE4DE;
    border-bottom: 3px solid ;

 }
@media(max-width:995px){
   nav a{
       position: absolute;
       display: none;
       top:0;
       right: 0;
       width:40%;
       border-left: 3px solid transparent;
       border-bottom: 3px solid transparent;
       border-bottom-left-radius: 2rem;
       padding:2rem solid;
       background:white;
       border-top: 0.1rem solid ;

} 

nav.active{
   display: block;
}

nav a{
   display: block;
   font-size: 2rem;
   margin:3rem 0;

}
nav a:hover,
nav a:active{
   padding: 1rem;
   border-radius: 0.5rem;
   border-bottom:0.5rem solid red;


} }
 section{
    min-height: 100vh;
    padding:5rem 9% 5rem;
    color: brown;

}
.boxes{
    align-self: center;
    
}
.box1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:50rem;
    height:10rem;
    background-color: transparent;
    border:0.2rem solid #395B64;
    text-align: center;
    color: #CBE4DE;
    margin:0.5rem 2rem 2rem 7rem;
    transition: 0.3s ease;

}
.box2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:50rem;
    height:10rem;
    background-color: transparent;
    border:0.2rem solid #395B64;
    text-align: center;
    color: #CBE4DE;
    margin:0.5rem 2rem 2rem 7rem;
    transition: 0.3s ease;
}
.box3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:50rem;
    height:10rem;
    background-color: transparent;
    border:0.2rem solid #395B64;
    text-align: center;
    color: #CBE4DE;
    margin:0.5rem 2rem 2rem 7rem;
    transition: 0.3s ease;
}


